<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>SignUp</title>
</head>
<body>
    <div class="video-background">
        <video autoplay muted loop>
            <source src="ocean.mp4" type="video/mp4">
            
        </video>
    </div>
    <div class="center">
        <h1>SignUp</h1>
        <form action="/signup" method="post">
            <div class="txt_field">
                <input type="text" name="username" required>
                <span></span>
                <label for="name">Username</label>
            </div>
            <div class="txt_field">
                <input type="password" name="password" required>
                <span></span>
                <label for="password">Password</label>
            </div>
            <br>
            
            <input type="submit" value="SignUp">
            <br>
            <br>
        </form>

    </div>
</body>
</html>